<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopchildabusetoday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StopChildAbuseToday">
        <activity
            android:name=".Upload_Images"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".About"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Learn_more"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Child_Rights2"
            android:exported="true"
            android:parentActivityName=".Child_Rights" />
        <activity
            android:name=".Child_Rights"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Videos"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Types_Of_Child_Abuses"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Report_case"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Child_Abuses"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.StopChildAbuseToday.NoActionBar" />
        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>